_site
.DS_Store
.jekyll
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
_includes/svg-icons.html
techrapport.sublime-project
techrapport.sublime-workspace
.idea*
_/includes/gallery
