    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-scroll">
                        <a href="#page-top"><i class="icon-Arrow-Up"></i></a>
                    </div>
                    <!-- //.page-scroll -->
                {% include main/social-icons.html %}
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
            
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-center">
                        <p class="text-grey">
                            &copy; {{ site.time | date: '%Y' }} {{ site.author.company }}
                        </p>
                    </div>
                    <!-- //.copyright -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->
    </footer>