    <!-- HERO START -->
    <header id="home" class="hero parallax-yes">
        <div class="pattern-overlay"></div>
        
        <div id="parallax-1" class="parallax">
            <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-1" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;">
                <div class="hero-body">
                    <div class="hero-text text-center">
                        <h1 class="small">
                            {{ site.title }}
                        </h1>

                        <h1>
                            <span id="js-rotating">{{site.header.descriptors}}</span> {{ site.header.text }}
                        </h1>

                        <p>
                            {{ site.tagline }}
                        </p>

                        <div class="page-scroll">
                            <a href="#profile" class="btn btn-lg btn-custom">
                                About me 
                            </a>
                        </div>
                        <!-- //.page-scroll -->
                    </div>
                    <!-- //.hero-text -->
                </div>
                <!-- //.hero-body -->
            </div>
            <!-- //.bcg -->
        </div>
        <!-- //.parallax -->
    </header>
    <!-- //HERO END -->