    <!-- PORTFOLIO SECTION START -->
    <section id="portfolio" class="section">
        <div class="container-fluid section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title uppercase">Most Recent Work</h2>

                        <p class="section-subtitle">I am constantly expanding my portfolio.  Here are a few of my most recent projects.</p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <!-- //.filter -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="filterable-portfolio-nav list-inline text-center">
                            <li class="active">
                                <a href="#" data-filter="*" class="btn btn-sm btn-custom disabled">All</a>
                            </li>
                        {% assign categories = site.projects, where: "category" %}
                        {% for category in site.categories | limit:5 %}
                            <li>
                                <a href="#" data-filter=".{{category}}" class="btn btn-sm btn-custom">{{category}}</a>
                            </li>
                        {% endfor %}

                        </ul>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <!-- PORTFOLIO START -->
                <div class="portfolio">
                    <div class="row">
                        {% for project in site.projects | limit:12 | sort:'key' reversed %}

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="{{ project.feature.image }}" {% for category in site.projects.categories %}data-filter="{% if category %}{{ category }}{% else %}*{% endif %}"{% endfor %} class="zoom" title="{{ project.title }}">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="{{ project.url }}" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>{{ project.title }}</h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="{{project.feature.image}}" alt="{{project.feature.alt}}" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->
                        {% if forloop.index == 4 || forloop.index == 8 %}
                    </div>
                    <!-- //.row -->
                    <div class="row">
                    {% endif %}
                    {% endfor %}
                    </div>
                    <!-- //.row -->
                </div>
                <!-- PORTFOLIO END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container-fluid -->
    </section>
    <!-- //PORTFOLIO SECTION END -->
