{% assign workdata = site.data.work-process %}
    <!-- WORK PROCESS SECTION START -->
    <section id="work-process" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title uppercase">
                            {{ workdata.header }}
                        </h2>

                        <p class="section-subtitle">
                            {{ workdata.subheader }}
                        </p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
                
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-grey text-justify">
                            {{ workdata.sectionheader }}
                        </p>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
                
                <!-- WORK PROCESS START -->
                <div class="work-process">
                    <div class="row">
                        {% for step in workdata.steps %}
                        <div class="{{ step.divclass }}">
                            <div class="inner-content">
                                <i class="{{ step.icon }}"></i>

                                <span class="title">{{ step.number }}. {{ step.title }}</span>

                                <span class="{{ step.span }}"></span>
                            </div>
                            <!-- //.inner-content -->

                            <i class="{{ step.arrowicon }}"></i>
                        </div>
                        <!-- //.item -->
                        {% endfor %}
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //WORK PROCESS END -->
                
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-grey text-justify">
                            {{ workdata.sectionfooter }}
                        </p>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //WORK PROCESS SECTION END -->