
    <!-- ACCOLADES SECTION START -->
    <section id="accolades" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title uppercase">Accolades</h2>

                        <p class="section-subtitle">The accolades, just like the scrapes and bruises, fade in the end, and all you're left with is your ambition.</p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
                
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">

                        <!-- ACCOLADES START -->
                        <div class="accolades">
                            <div class="item">
                                <i class="icon-Twitter"></i>

                                <div class="content">
                                    <h3>Marketing Excellence Awards 2014</h3>

                                    <p class="text-grey">Excellence in Social Media Marketing</p>
                                </div>
                                <!-- //.content -->
                            </div>
                            <!-- //.item -->

                            <div class="item">
                                <i class="icon-Idea-2"></i>

                                <div class="content">
                                    <h3>The "Big Idea" Competition 2012</h3>

                                    <p class="text-grey">Top 3 Team</p>
                                </div>
                                <!-- //.content -->
                            </div>
                            <!-- //.item -->

                            <div class="item">
                                <i class="icon-Brush"></i>

                                <div class="content">
                                    <h3>Water Seven Art Directors Club Awards 2010</h3>

                                    <p class="text-grey">Finalist - Design</p>

                                    <p class="text-grey">Finalist - Print Ad</p>
                                </div>
                                <!-- //.content -->
                            </div>
                            <!-- //.item -->

                            <div class="item">
                                <i class="icon-Funky"></i>

                                <div class="content">
                                    <h3>Young Guns Award 2009</h3>

                                    <p class="text-grey">Finalist - Digital Campaign</p>
                                </div>
                                <!-- //.content -->
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //ACCOLADES END -->

                        <div class="bookmark text-grey text-center">
                            <i class="icon-Bookmark"></i>
                        </div>
                        <!-- //.bookmark -->
                    </div>
                    <!-- //.col-md-6 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //ACCOLADES SECTION END -->