{% assign knowledge = site.data.knowledge %}

    <!-- KNOWLEDGE SECTION START -->
    <section id="knowledge" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title uppercase">
                            {{ knowledge.title }}
                        </h2>

                        <p class="section-subtitle">
                            {{ knowledge.subtitle }}
                        </p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
                
                <!-- BAR CHART START -->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="bar-chart">
                        {% for skill in knowledge.area limit:6 %}
                            <div class="item">
                                <h4 class="uppercase">{{ skill.areatitle }}</h4>

                                <div class="bar">
                                    <span class="percent">{{ skill.percentage }}%</span>
                                    <span class="item-progress" data-percent="{{ skill.percentage }}"></span>
                                </div>
                                <!-- //.bar -->
                            </div>
                            <!-- //.item -->
                        {% endfor %}
                        </div>
                        <!-- //.bar-chart -->
                    </div>
                    <!-- //.col-md-6 -->
                </div>
                <!-- //BAR CHART END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
        
    </section>
    <!-- //KNOWLEDGE SECTION END -->
    
    
