    <!-- NAVIGATION START -->
    <nav id="navigation" class="navbar navbar-fixed-top center-menu" role="navigation">
        <div class="container navbar-container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".berg-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand visible-xs visible-sm" href="#page-top">TECH RAPPORT</a>
            </div>
            <!-- //.navbar-header -->
            
            <div class="navbar-collapse collapse berg-collapse">
                <ul class="nav navbar-nav">
                    {% if page.url == '/index.html' %}
                    <li class="page-scroll">
                        <a href="#home">Home</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#profile">Profile</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#services">Services</a>
                    </li>
                    
                    <li>
                        <a href="{{ site.baseurl }}/resume-index.html">Resume</a>
                    </li>

                    <li>
                        <a href="{{ site.baseurl }}/blog-index.html">Blog</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>

                    {% else %}

                    <li>
                        <a href="{{ site.baseurl }}/index.html">Home</a>
                    </li>
                    
                    <li>
                        <a href="{{ site.baseurl }}/#profile">Profile</a>
                    </li>
                    
                    <li>
                        <a href="{{ site.baseurl }}/#portfolio">Portfolio</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#services">Services</a>
                    </li>
                    
                    {% if page.description == "Resume" %}
                    <li class="page-scroll dropdown active">
                        <a href="{{ site.baseurl }}/resume-index.html" id="dropdown-resume" class="dropdown-toggle" data-toggle="dropdown" data-target="#references" role="button" aria-haspopup="true">
                            Resume <b class="caret"></b>
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="dropdown-references">
                            <li class="page-scroll">
                                <a href="#strengths">Strengths</a>
                            </li>
                            <li class="page-scroll">
                                <a href="#skills">Skills</a>
                            </li>
                            <li class="page-scroll">
                                <a href="#knowledge">Knowledge</a>
                            </li>

                            <li class="page-scroll">
                                <a href="#acolades">Acolades</a>
                            </li>

                            <li class="page-scroll">
                                <a href="#references">References</a>
                            </li>
                            
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ site.baseurl }}/resume-index.html">Resume</a>
                    </li>
                    {% endif %}

                    {% if page.description == "Blog" %}
                        <li class = "active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{ site.baseurl }}/blog-index.html">Blog</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
            <!-- //.navbar-collapse -->
        </div>
        <!-- //.navbar-container -->
    </nav>
    <!-- //NAVIGATION END -->