    <!-- PROFILE SECTION START -->
    <section id="profile" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">          
                    <div class="col-md-7 match-height">

                        <!-- PROFILE TEXT START -->
                        <div class="profile-text padding-right-yes">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="section-title uppercase">

                                        Hello, My Name is Ryan.

                                    </h2>

                                    <p>
                                        Ryan, 29 years of age, born and raised in New England, citizen of the world.  Highly motivated software and web developer with extensive and diverse experience developing and implementing software.
                                    </p>

                                    <span class="divider"></span>

                                    <p class="text-grey">
                                        I currently work as a freelance iOS, mobile and web developer.  I spend most of my time working on awesome projects for the iOS platform, but I also have an extensive background on many other platforms.
                                    </p>

                                    <p class="text-grey">
                                        Most recently, I have been working to develop Swift iOS applications.  I have worked for years developing and implementing large-scale applications, most of which are classified.  I am currently taking an extensive course in iOS development through Udacity.  Please take a look at my Portfolio.
                                    </p>
                                </div>
                                <!-- //.col-md-12 -->
                            </div>
                            <!-- //.row -->
                        </div>
                        <!-- //PROFILE TEXT END -->

                        <!-- CONTACT DETAILS START -->
                        <div class="contact-details padding-right-yes">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <h4 class="uppercase">Contact Details</h4>

                                    <ul class="list-unstyled text-grey">
                                        <li>Ryan</li>
                                        <li>ADDRESS</li>
                                        <li>617-299-9722</li>
                                        <li></li>
                                        <li>www.techrapport.com</li>
                                    </ul>
                                </div>
                                <!-- //.col-md-5 -->

                                <div class="col-sm-6 col-md-7">
                                    <a href="{{ site.baseurl }}/assets/docs/resume.pdf" class="btn btn-lg btn-custom">
                                        <i class="icon-File-Download"></i> Download Resume
                                    </a>
                                </div>
                                <!-- //.col-md-6 -->
                            </div>
                            <!-- //.row -->
                        </div>
                        <!-- //CONTACT DETAILS END -->

                    </div>
                    <!-- //.col-md-7 -->

                    <!-- PROFILE PICTURE START -->
                    <div class="col-md-5 hidden-xs hidden-sm match-height pp-wrapper">
                        <div class="profile-picture style-three">
                            <img src="{{ site.baseurl }}/assets/images/me-3.jpg" alt="profile picture" class="img-responsive"/>
                        </div>
                    </div>
                    <!-- //PROFILE PICTURE END -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //PROFILE SECTION END -->