    <!-- REFERENCES SECTION START -->
    <section id="references" class="section bg-image-yes">
        <div class="container-fluid section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title uppercase">References</h2>

                        <p class="section-subtitle">Testimonials are enough to convince people for now.</p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="flexslider references">
                            <div class="slides">
                                <div class="item">
                                    <div class="animated" data-animation-effect="flipInX">
                                        <div class="profile hidden-xs">
                                            <img src="/assets/images/references/profile-image-1.jpg" alt="" class="img-responsive img-circle img-thumbnail"/>
                                        </div>

                                        <div class="content">
                                            <h3>Lorena Group</h3>

                                            <p>
                                                "Berg is officially the man! His level of professionalism and the understanding of the subject matter is the reason i will be looking forward to working with him in the future."
                                            </p>

                                            <p class="source">
                                                Eka Sari Lorena
                                                <br>
                                                <span>President Director</span>
                                            </p>
                                        </div>
                                        <!-- //.content -->
                                    </div>
                                    <!-- //.animated -->
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <div class="animated" data-animation-effect="flipInX">
                                        <div class="profile hidden-xs">
                                            <img src="/assets/images/references/profile-image-2.jpg" alt="" class="img-responsive img-circle img-thumbnail"/>
                                        </div>

                                        <div class="content">
                                            <h3>NET TV</h3>

                                            <p>
                                                "As always Berg did an excellent job in just few hours. Great communication and fast excecution. Thanks for great work :)"
                                            </p>

                                            <p class="source">
                                                Wishnutama Kusubandio
                                                <br>
                                                <span>CO-FOUNDER / CEO</span>
                                            </p>
                                        </div>
                                        <!-- //.content -->
                                    </div>
                                    <!-- //.animated -->
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <div class="animated" data-animation-effect="flipInX">
                                        <div class="profile hidden-xs">
                                            <img src="/assets/images/references/profile-image-3.jpg" alt="" class="img-responsive img-circle img-thumbnail"/>
                                        </div>

                                        <div class="content">
                                            <h3>MNC Group</h3>

                                            <p>
                                                "As always, great creative thinking for the best solution. Berg is by far the most professional and knowledgeable provider I worked with. I will hire him again :)"
                                            </p>

                                            <p class="source">
                                                Hary Tanoesoedibjo
                                                <br>
                                                <span>President Director</span>
                                            </p>
                                        </div>
                                        <!-- //.content -->
                                    </div>
                                    <!-- //.animated -->
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <div class="animated" data-animation-effect="flipInX">
                                        <div class="profile hidden-xs">
                                            <img src="/assets/images/references/profile-image-4.jpg" alt="" class="img-responsive img-circle img-thumbnail"/>
                                        </div>

                                        <div class="content">
                                            <h3>CT Corp</h3>

                                            <p>
                                                "We called on Berg to help us deliver on few projects with tight deadlines. He seamlessly integrated into our workflow and quickly became a key part of our team. Great job!"
                                            </p>

                                            <p class="source">
                                                Chairul Tanjung
                                                <br>
                                                <span>Founder and Chairman</span>
                                            </p>
                                        </div>
                                        <!-- //.content -->
                                    </div>
                                    <!-- //.animated -->
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <div class="animated" data-animation-effect="flipInX">
                                        <div class="profile hidden-xs">
                                            <img src="/assets/images/references/profile-image-5.jpg" alt="" class="img-responsive img-circle img-thumbnail"/>
                                        </div>

                                        <div class="content">
                                            <h3>Mustika Ratu</h3>

                                            <p>
                                                "Berg technical knowledge and branding experience came together and resulted in a site that is not only catching and interesting, but also one that is user-friendly. Thanks again."
                                            </p>

                                            <p class="source">
                                                Mooryati Soedibyo
                                                <br>
                                                <span>President Director</span>
                                            </p>
                                        </div>
                                        <!-- //.content -->
                                    </div>
                                    <!-- //.animated -->
                                </div>
                                <!-- //.item -->
                            </div>
                            <!-- //.slides -->

                            <div class="flexslider-controls">
                                <ul class="flex-control-nav">
                                    <li>
                                        <img src="/assets/images/references/profile-image-1.jpg" alt="" class="img-responsive"/>
                                    </li>

                                    <li>
                                        <img src="/assets/images/references/profile-image-2.jpg" alt="" class="img-responsive"/>
                                    </li>

                                    <li>
                                        <img src="/assets/images/references/profile-image-3.jpg" alt="" class="img-responsive"/>
                                    </li>

                                    <li>
                                        <img src="/assets/images/references/profile-image-4.jpg" alt="" class="img-responsive"/>
                                    </li>

                                    <li>
                                        <img src="/assets/images/references/profile-image-5.jpg" alt="" class="img-responsive"/>
                                    </li>
                                </ul>
                            </div>
                            <!-- //.flexslider-controls -->

                            <ul class="flex-direction-nav-custom list-inline hidden-xs">
                                <li>
                                    <a class="flex-prev" href="#">
                                        <i class="icon-Left-3"></i>
                                    </a>
                                </li>

                                <li>
                                    <a class="flex-next" href="#">
                                        <i class="icon-Right-3"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- //.flexslider -->
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //REFERENCES SECTION END -->