---
layout: default
title: services
---
    <!-- SERVICES SECTION START -->
    <section id="services" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title uppercase">What I'm Doing</h2>

                        <p class="section-subtitle">
                            I love what I do. I take great pride in what I do. And I can't do something halfway, three-quarters, nine-tenths. If I'm going to do something, I go all the way.
                        </p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
            
                <!-- SERVICES START -->
                <div class="services">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 item top dark-bg match-height">
                            <div class="inner-content">
                                <i class="icon-Chess colored-text"></i>

                                <h4 class="uppercase">1. Strategy</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->

                        <div class="col-sm-4 col-md-4 item top match-height">
                            <div class="inner-content">
                                <i class="icon-Leafs-2 colored-text"></i>

                                <h4 class="uppercase">2. Branding</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->

                        <div class="col-sm-4 col-md-4 item top dark-bg match-height">
                            <div class="inner-content">
                                <i class=" icon-Transform-2 colored-text"></i>

                                <h4 class="uppercase">3. Web Design</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->
                        
                        <div class="col-sm-4 col-md-4 item match-height">
                            <div class="inner-content">
                                <i class="icon-Speach-Bubble3 colored-text"></i>

                                <h4 class="uppercase">4. Social Media</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->

                        <div class="col-sm-4 col-md-4 item dark-bg match-height">
                            <div class="inner-content">
                                <i class="icon-Monitor-Tablet colored-text"></i>

                                <h4 class="uppercase">5. Development</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->

                        <div class="col-sm-4 col-md-4 item match-height">
                            <div class="inner-content">
                                <i class="icon-Consulting colored-text"></i>

                                <h4 class="uppercase">6. Consulting</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //SERVICES END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //SERVICES SECTION END -->