    <!-- SKILLS SECTION START -->
    <section id="skills" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title uppercase">Skills & Expertise</h2>

                        <p class="section-subtitle">A winner is someone who recognizes his God-given talents, works his tail off to develop them into skills, and uses these skills to accomplish his goals.</p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
                
                <!-- CIRCLE CHART START -->
                <div class="circle-chart">
                    <div class="row">
                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                    <span class="item-progress" data-percent="45"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">45%</span>

                                <h4 class="text-center uppercase">HTML5 + CSS3</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->

                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                    <span class="item-progress" data-percent="75"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">75%</span>

                                <h4 class="text-center uppercase">Swift / iOS Dev</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->

                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                    <span class="item-progress" data-percent="55"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">55%</span>

                                <h4 class="text-center uppercase">HTML  & CSS3</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->

                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                    <span class="item-progress" data-percent="55"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">55%</span>

                                <h4 class="text-center uppercase">Angular JS</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->

                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                    <span class="item-progress" data-percent="75"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">75%</span>

                                <h4 class="text-center uppercase">Mongo DB & SQL</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->

                        <div class="col-sm-4 col-md-2">
                            <div class="item last">
                                <div class="circle">
                                    <span class="item-progress" data-percent="55"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">55%</span>

                                <h4 class="text-center uppercase">C#.NET</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //CIRCLE CHART END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //SKILLS SECTION END -->