{% assign skilldata = site.data.skills %}
    <!-- SKILLS SECTION START -->
    <section id="skills" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title uppercase">
                            {{ skilldata.title }}
                        </h2>

                        <p class="section-subtitle">
                            {{ skilldata.subtitle }}
                        </p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
                
                <!-- CIRCLE CHART START -->
                <div class="circle-chart">
                    <div class="row">

                        {% for skill in skilldata.area %}
                        <div class="col-sm-4 col-md-2">
                        {% if skill.index == skilldata.count %}
                            <div class="item last">
                        {% else %}
                            <div class="item">
                        {% endif %}
                                <div class="circle">
                                    <span class="item-progress" data-percent="{{ skill.percentage }}"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">{{ skill.percentage }}%</span>

                                <h4 class="text-center uppercase">{{ skill.areatitle }}</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.col-md-2 -->
                        {% endfor %}
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //CIRCLE CHART END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //SKILLS SECTION END -->

