             
                    <ul class="list-inline social-icons">
                        {% for footer-link in page.footer-links %}
                        <li>
                            <div class="item">
                                <a href="{{ footer-link.url }}{{ footer-link.username }}" target="{{ footer-link.url }}"><i class="{{ footer-link.iclass }}"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>
                        {% endfor %}
                        
                        <li>
                            <div class="item"></div>
                                <a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>
                            </div>
                        </li>
                    </ul>