---
footer-links:
  - title: Email
    username: info@techrapport.com
    url: mailto
    iclass: svg-icon email
    - title: GitHub
    username: techrapport
    url: https://github.com/
    iclass: fa fa-github
    - title: linkedin
      username: techrapport
      url: https://www.linkedin.com/in/
      iclass: fa fa-linkedin
    - title: Twitter
      username: techrapport
      url: https://www.twitter.com/
      iclass: fa fa-twitter
    - title: 101168809038593931433/# anything in your profile username that comes after plus.google.com/
      username: techrapport
      url: https://plus.google.com/
      iclass: svg-icon googleplus
    - title: channel/UC2iYWXVQlPa76aQlADYocow
      username: techrapport
      url: https://youtube.com/
      iclass: svg-icon youtube
---
                    <ul class="list-inline social-icons">
                        {% for footer-link in page.footer-links %}
                        <li>
                            <div class="item">
                                <a href="{{ footer-link.url }}{{ footer-link.username }}" target="{{ footer-link.url }}"><i class="{{ footer-link.iclass }}"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>
                        {% endfor %}
                        
                        <li>
                            <div class="item"></div>
                                <a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>
                            </div>
                        </li>
                    </ul>