     <!-- STRENGTHS SECTION START -->
    <section id="strenghts" class="section bg-image-yes">
        <div class="container-fluid section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title uppercase">My Strengths</h2>

                        <p class="section-subtitle">Failure will never overtake me if my determination to succeed is strong enough.</p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
                
                <div class="row">
                    <div class="col-md-12">

                        <!-- COLUMN CHART START -->
                        <div class="column-chart">
                            <div class="legend legend-left hidden-xs">
                                <h3 class="legend-title">ME</h3>
                            </div>
                            <!-- //.legend -->

                            <div class="legend legend-right hidden-xs">
                                <div class="item">
                                    <h4>Allstar</h4>
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <h4>Pretty Great</h4>
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <h4>Good</h4>
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <h4>Newb</h4>
                                </div>
                                <!-- //.item -->
                            </div>
                            <!-- //.legend -->

                            <div class="chart clearfix">
                                {% for strength in site.strengths %}
                                <div class="item">
                                    <div class="bar">
                                        <span class="percent">{{ strength.percentage }}</span>

                                        <div class="item-progress" data-percent="{{ strength.percentage }}">
                                            <span class="title uppercase">{{ strength.title }}</span>
                                        </div>
                                        <!-- //.item-progress -->
                                    </div>
                                    <!-- //.bar -->
                                </div>
                                <!-- //.item -->
                                {% endfor %}
                            </div>
                            <!-- //.chart -->
                        </div>
                        <!-- //COLUMN CHART END -->

                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //STRENGHTS SECTION END -->