// Body
// --------------------------------------------------
body {
	font-family: $base-font;
	color: $text-color;
}

// Headings
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}
h1 {
	@include font-rem(28);
	@media #{$medium} {
		@include font-rem(32);
	}
}

// Links
// --------------------------------------------------
a { 
	text-decoration: none;
	color: $link-color; 
	&:visited { 
		color: lighten($link-color, 20); 
	}
	&:hover { 
		color: darken($link-color, 20); 
	}
	&:focus { 
		outline: thin dotted; 
		color: darken($link-color, 20);
	}
	&:hover, 
	&:active { 
		outline: 0; 
	}
}

.link-arrow {
	font-weight: 100;
	text-decoration: underline;
	font-style: normal;
}

// Figures
// --------------------------------------------------
figcaption {
	padding-top: 10px;
	@include font(14);
	line-height: 1.3;
	color: lighten($text-color, 10);
}

// Note text
// --------------------------------------------------
.notice {
	margin-top: 1.5em;
	padding: .5em 1em;
	text-indent: 0;
	@include font-rem(14);
	background-color: $body-color;
	border: 1px solid darken($body-color,20);
	@include rounded(3px);
}

// Blockquotes
// --------------------------------------------------
blockquote {
	font-family: $alt-font;
	font-style: italic;
	border-left: 8px solid $border-color;
	padding-left: 20px;
	@media #{$medium} {
		margin-left: -28px;
	}
}

// List items
// --------------------------------------------------
.entry-content li {
	margin-bottom: 7px;
}

// Footnotes
// --------------------------------------------------
.entry-content .footnotes {
	ol, li, p {
		@include font-size(14);
	}
}

// Code
// --------------------------------------------------
tt, code, kbd, samp, pre {
	font-family: $code-font;
}
p,
li { 
	code {
		@include font-rem(12);
		line-height: 1.5;
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten($black, 90);
		background-color: lighten($black, 95);
		@include rounded(3px);
	}
}
pre {
	@include font-rem(12);
	line-height: 1.5;
	overflow-x: auto;
	&::-webkit-scrollbar {
		height: 12px;
		background-color: #34362e;
		border-radius: 0 0 4px 4px;
	}
	&::-webkit-scrollbar-thumb:horizontal {
		background-color: #6a6d5d;
		@include rounded(4px);
	}
}

/*---------------------------------------------------------------------*/
/*  8. FOOTER
/*---------------------------------------------------------------------*/
footer.footer {
  background-color: #171717;
  padding-top: 70px;
  padding-bottom: 50px;
}

footer.footer .page-scroll > a {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 48px;
  height: 46px;
  line-height: 48px;
  margin-top: -94px;
  margin-left: -24px;
  background-color: #c80a48;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 3px 0 #970837;
}

footer.footer ul.social-icons {
  margin: 0;
  text-align: center;
}

footer.footer ul.social-icons > li:hover > .item img {
  opacity: 0.7;
}

footer.footer ul.social-icons > li > .item {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #2e2e2e;
  border-radius: 4px;
  box-shadow: 0 3px 0 #212121;
}

footer.footer ul.social-icons > li > .item > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
}

footer.footer ul.social-icons > li > .item > a:hover {
  color: rgba(255, 255, 255, 0.7);
}

footer.footer ul.social-icons > li > .item img {
  margin: 0 auto;
  margin-top: 12px;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer.footer .copyright {
  margin-top: 20px;
}

footer.footer .copyright p {
  font-size: 14px;
}

/*---------------------------------------------------------------------*/
/*  2. COMPONENTS
/*  2.1. BUTTON
/*---------------------------------------------------------------------*/
.btn.btn-custom {
  background-color: #006ca3;
  box-shadow: 0 3px 0 #004a70;
}