                {% assign workdata = site.data.workexperience %}
                <!-- WORK EXPERIENCE START -->
                <div class="row work-experience">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>
                            {{ workdata.sectiontitle }}
                            <br>
                            {{ workdata.years }}
                        </h3>

                        <div class="panel-group resume" id="work">
                            {% for work in workdata.jobs %}
                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">
                                        {{ work.dates }}
                                    </span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#work{{ work.key }}" data-toggle="collapse" data-parent="#work"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">
                                                {{ work.name }} - {{ work.jobtitle }}
                                            </h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="work{{ work.key }}" class="panel-collapse collapse in">
                                        <div class="panel-body text-grey">
                                            <p>
                                                Responsibilities:
                                                <br>
                                                {{ work.description }}
                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                            <!-- //.resume-item -->
                            {% endfor %}
                        </div>
                        <!-- //.panel-group -->
                    </div>
                    <!-- //.col-md-10 -->
                </div>
                <!-- //WORK EXPERIENCE END -->