<section id="knowledge" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        
                        <h2 class="section-title uppercase">
                            Languages
                        </h2>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->   
                <!-- BAR CHART START -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <figure class="text-center"><embed src="https://wakatime.com/@techrapport/f57885e7-1fb2-4677-9395-012eb9f10d02.svg"></embed></figure>
                            <figcaption class="text-grey text-center">A diagram of the languages I've used in the last 7 days</figcaption>
                            </figure>
                            </div>
                            <!-- //.item -->
                        </div>
                    </div>
                    <!-- //.col-md-6 -->
                </div>
                <!-- //BAR CHART END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
        
    </section>
    <!-- //KNOWLEDGE SECTION END -->