---
layout: default
title: "Resume - Learn about Tech Rapport's Founder"
description: "Tech Rapport - Resume - Creative Software and Web Solutions - Founder & CTO Ryan Collins"
template: main
---

{% include resume/resume.html %}
{% include resume/strengths.html %}
{% include resume/skills.html %}
{% include resume/frameworks.html %}
{% include resume/languages.html %}
{% include resume/knowledge.html %}
{% include resume/references.html %}
{% include resume/accolades.html %}
{% include site/contact.html %}