---
title: Swift Connection Blog
layout: blog
permalink: /blog/index.html
description: blog
---
<div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                
                <h1 class="page-header">
                    {{ blog_name }}
                    <small>{{ blog_subheader }}</small>
                </h1>
                {% for post in site.posts limit:1 %}
                <!-- First Blog Post -->
                <h2>
                    <a href="#">{{ post.title }}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">{{ copyright }}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date: "%d %B %Y" }}</p>
                <hr>
                <img class="img-responsive" {% if post.image != blank %} src="{{ post.image }}"{% else %}"http://placehold.it/900x300"{% endif %} alt="">
                <hr>
                <p>
                  {{ post.excerpt }}
                </p>
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>