---
title: Tech Rapport
header: Tech Rapport
subheader: What's New
layout: blog
description: blog
copyright: "Tech Rapport"
---
                
                <h1 class="page-header">
                    {{ page.header }}
                    <small>{{ page.subheader }}</small>
                </h1>
                {% for post in paginator.posts %}
                <!-- First Blog Post -->
                <h2 class ="section-title uppercase">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">{{ post.author }}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date: "%d %B %Y" }}</p>
                <span class="divider center"></span>
                {% if post.image %}
                
                <img class="img-responsive" src="{{ site.blog_image_path }}{{ post.image }}" alt="">

                {% endif %}
                <p>
                  {{ post.excerpt }}
                </p>
                <a class="btn btn-primary" href="{{ post.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>
                
                {% endfor %}
                
                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}">&larr; Older</a>
                    {% endif %}
                    </li>
                    <li class="next">
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path}}">Newer &rarr;</a>
                    {% endif %}
                    </li>
                </ul>

                    <!-- jQuery -->
    <script src="{{ site.baseurl }}/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

            

