    {% assign contactdata = site.data.contact %}
    {% assign profiledata = site.data.profile %}
    <!-- CONTACT SECTION START -->
    <section id="contact" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title uppercase">{{ contactdata.header }}</h2>

                        <p class="section-subtitle">
                            {{ contactdata.subheader }}
                        </p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <!-- CONTACT FORM START -->
                        <form action="http://formspree.io/info@techrapport.com" method="post" name="contact-form" id="contact-form" class="contact-form validate" role="form">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <div class="input-group input-group-lg">
                                                <input type="text" name="name" id="name" class="form-control required" placeholder="Enter Name" autocomplete="off">
                                            </div>
                                            <!-- //.input-group -->
                                        </div>
                                        <!-- //.input-group -->
                                    </div>
                                    <!-- //.form-group -->
                                    
                                    <div class="form-group">
                                        
                                        <label>Services (not required) :</label>
                                        {% for service in contactdata.services %}
                                        <div class="checkbox">
                                            <input type="checkbox" name="services[]" id="{{ service.forlabel }}" value="{{ service.service }}">

                                            <label for="{{ service.forlabel }}">{{ service.service }}</label>
                                        </div>
                                        <!-- //.checkbox -->
                                        {% endfor %}
                                    </div>
                                    <!-- //.form-group -->
                                    
                                </div>
                                <!-- //.col-md-5 -->
                                
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <input type="email" name="email" id="email" class="form-control required email" placeholder="Enter Email" autocomplete="off">
                                        </div>
                                        <!-- //.input-group -->
                                    </div>
                                    <!-- //.form-group -->
                                    
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <select name="subject" id="subject" class="select2 required" style="width: 100%">
                                            {% for subject in contactdata.email_subject %}
                                                <option value="{{ subject.subject }}">{{ subject.subject }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <!-- //.input-group -->
                                    </div>
                                    <!-- //.form-group -->
                                    
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <textarea name="message" id="message" class="form-control required" placeholder="Message"></textarea>
                                        </div>
                                        <!-- //.input-group -->
                                    </div>
                                    <!-- //.form-group -->
                                </div>
                                <!-- //.col-md-7 -->
                            </div>
                            <!-- //.row -->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="submit" type="submit" class="form-control" type="text" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="My popover content.">{{ contactdata.button_message }}</button>
                                    </div>
                                    <!-- //.form-group -->
                                </div>
                                <!-- //.col-md-12 -->
                            </div>
                            <!-- //.row -->
                            <div class ="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                       <div class="input-group input-group-lg">
                                            <input type="text" name="_gotcha" style="display:none">
                        
                                        </div>
                                        <!-- //.input-group -->
                                    </div>
                                    <!-- //.form-group -->
                                </div>
                            </div>
                        </form>
                        <!-- //CONTACT FORM END -->

                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //CONTACT SECTION END -->