{% capture site_cats %}{% for cat in site.categories %}{{ cat | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign cats_list = site_cats | split:',' | sort %}
    <!-- NAVIGATION START -->
    <nav id="navigation" class="navbar navbar-fixed-top center-menu" role="navigation">
        <div class="container navbar-container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".berg-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand visible-xs visible-sm" href="#page-top">TECH RAPPORT</a>
            </div>
            <!-- //.navbar-header -->
            
            <div class="navbar-collapse collapse berg-collapse">
                <ul class="nav navbar-nav">
                    <!-- Loop through the nav items in nav.yml and set the active nav item: -->

{% for menu in site.data.nav.menus %}
    {% assign class = nil %}
    {% assign scroll = nil %}
        {% if ((page.url contains menu.url and menu.url != '/') or (page.url == '/index.html' and menu.url == '/')) %}
            {% assign class = 'active page-scroll' %}
        {% endif %}

        {% if menu.type == 'categories' %}
            <li><a href="{{site.baseurl}}{{menu.url}}">{{ menu.title }}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown-references">
                    {% for item in (0..site.categories.size) %}{% unless forloop.last %}
                        {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
                            <li><a href="{{site.baseurl}}/categories/#{{this_word}}">{{this_word}}</a></li>
                    {% endunless %}{% endfor %}
                </ul>
            </li>
        {% elsif menu.submenu %}
            <li class="{{class}}"><a href="{{site.baseurl}}{{menu.url}}">{{ menu.title }}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown-references">
                    {% for sub in menu.submenu %}
                    <li class="{{class}}"><a href="{{site.baseurl}}{{submenu.url}}">{{submenu.title}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li class="{{class}}"><a href="{{site.baseurl}}{{menu.url}}">{{ menu.title }}</a></li>
        {% endif %}
{% endfor %}
            <li><a href="{{site.baseurl}}/search"><i class="fa fa-search"></i></a></li>
            </ul>
 
        </div>
        <!-- //.navbar-container -->
    </nav>
    <!-- //NAVIGATION END -->