    <!-- Plugins JS -->
    <script src="{{ site.baseurl }}/assets/plugins/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/jpreloader/js/jpreloader.min.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/detectmobilebrowser/detectmobilebrowser.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/debouncer/debouncer.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/easing/jquery.easing.min.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/sticky/jquery.sticky.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/inview/jquery.inview.min.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/matchHeight/jquery.matchHeight-min.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/magnificPopup/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/flexSlider/jquery.flexslider-min.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/countTo/jquery.countTo.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/skrollr/skrollr.min.js"></script>
    
    <!-- Main JS -->
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    
    <!-- Parallax JS -->
    <script src="{{ site.baseurl }}/assets/js/parallax.js"></script>
    
    <!-- Animation JS (Optional) -->
    <script src="{{ site.baseurl }}/assets/js/animation.js"></script>