
{% include site/head.html %}
<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="66">
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        {% if page.description == "Home" %}{% include main/hero.html %}{% endif %}

    <!-- //NAV START -->
    {% include site/nav.html %}
    <!-- //NAV END -->
    {{ content }}

    {% include site/footer.html %}
    {% include main/scripts.html %}

</body>

</html>