---
layout: blog
---

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ page.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="{{site.baseurl }}/#profile">{{ page.author }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ page.date | date: "%B %e, %Y" }}</p>

                {% if page.image %}
                <hr>

                <img class="img-responsive" src="{{ site.blog_image_path }}{{ page.image }}" alt="">

                <hr>
                {% endif %}
                <!-- Post Content -->
                <p class="lead">
                	{{ content }}
                </p>
              	<hr

<!--                 {% capture words %}
                {{ content | number_of_words | minus: 180 }}
                {% endcapture %}
                {% unless words contains "-" %}
                {{ words | plus: 180 | divided_by: 180 | append: " minutes to read" }}
                {% endunless %} -->
