---
layout: default
---
<section id="resume" class="section">
<div class="container section-wrapper">
<div class="section-content">
  <div class="row">
    <div class="col-md-12">
        
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2 class="section-title uppercase text-center">
              {{page.title}}
            </h2>
              <p class="section-subtitle text-center">{{page.description}}</p>
              <p class="text-center">By {{site.owner.author}}</p>
              <span class="divider center"></span>
            <div class="profile-text">
                <br>
                <p class="text-grey">
                    {{page.content}}
                </p>
            </div>
          <div>
          </div>
          <p>
          </p>

        </div>
        <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center">
                Download Links
              </h3>
            </div>
            <div class="panel-body text-center">
              <div class="btn-group">
                    <a href="{{page.downloads.zip}}"><button type="button" class="btn btn-block btn-custom">Zip</button></a>

                    <a href="{{page.downloads.tarball}}"><button type="button" class="btn btn-block btn-custom">Tarball</button></a>

                    <a href="{{page.downloads.repo}}"><button type="button" class="btn btn-block btn-custom">Clone Repo</button></a>


              </div>
            </div>
            <div class="panel-footer text-center">
                <a href="{{page.project-page}}">View on Github</a>
            </div>
          </div>
        <div class ="list-group text-center">
           <a href="#" class="list-group-item active ">Build information</a>
                    {% for item in page.build-info %}
				    <div class="list-group-item">
				        <span class="label label-info">{{item}}</span>
				    </div> 
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <br>
  <div class="portfolio">
    <div class="row">
      <div class="page-header">
            <h2 class="section-title uppercase text-center">
              More Projects from my Portfolio
            </h2>
              <p class="section-subtitle text-center">Take a look at some of my other projects</p>
              <span class="divider center"></span>
      </div>
      {% for project in site.projects | limit:4 | sort:'key' %}
      <div class="item col-sm-5 col-md-3">
      <div class="col-sm-1 col-md-2"></div>
        <div class="project-wrapper">
          <div class="project-link">
              <a href="{{ project.image.file }}" class="zoom" title="{{ project.title }}">
                <i class="icon-Full-Screen"></i>
                </a>

                <a href="{{ project.url }}" class="external-link">
                <i class="icon-Link"></i>
                </a>
          </div>
          <!-- //.project-link -->

          <div class="project-title">
              <h4>{{ project.title }}</h4>
          </div>
              <!-- //.project-title -->
              <img src="{{ project.feature.image }}" alt="{{project.feature.alt}}" class="img-responsive"/>
        </div>
        <!-- //.project-wrapper -->
      </div>
      <!-- //.item -->
      {% endfor %}
      <div class="col-sm-1 col-md-2"></div>
    </div>
    <!-- //.row -->
  </div>
</div>
</section>
<br>
<br>